<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>IQ Testi</title>
  </head>
  <body>
    <!-- 1. soru şekil eklemeli-->
    <div class="container container-1">
      <div class="soru-1">
        <img class="soru-şekil" src="1.soru/soru.png" alt="soru" />
        <p class="tikla">Doğru şıkkın üzerine tıklayınız.</p>
      </div>

      <div class="şıklar-1">
        <img class="şık-1" src="1.soru/a.png" alt="a" />
        <img class="şık-1" src="1.soru/b.png" alt="b" />
        <img class="şık-1" src="1.soru/c.png" alt="c" />
        <img class="şık-1" src="1.soru/d.png" alt="d" />
        <img class="şık-1" src="1.soru/e.png" alt="e" />
        <img class="şık-1" src="1.soru/f.png" alt="f" />
      </div>
    </div>
    <!-- 2. soru yazılı  -->
    <div class="container container-2">
      <div class="soru-2">
        <h3>Hangisi Diğerlerinden Farklıdır?</h3>
        <p class="tikla">Doğru şıkkın üzerine tıklayınız.</p>
      </div>
      <div class="şıklar-2">
        <button class="şık-2" id="a">ARMATURA</button>
        <button class="şık-2" id="b">ERRORE</button>
        <button class="şık-2" id="c">RESALVARE</button>
        <button class="şık-2" id="d">SUARİUS</button>
        <button class="şık-2" id="e">SIBONIS</button>
        <button class="şık-2" id="f">MULCTRARIUM</button>
      </div>
    </div>
    <!-- 3.soru yazılı -->
    <div class="container container-3">
      <div class="soru-1">
        <h3>P-S-?-P-C-C-P</h3>
        <p class="tikla">Doğru şıkkın üzerine tıklayınız.</p>
      </div>

      <div class="şıklar-3">
        <button class="şık-3" id="a">İ</button>
        <button class="şık-3" id="b">Ç</button>
        <button class="şık-3" id="c">D</button>
        <button class="şık-3" id="d">C</button>
        <button class="şık-3" id="e">P</button>
        <button class="şık-3" id="f">S</button>
      </div>
    </div>
    <!-- 4.soru yazılı -->
    <div class="container container-4">
      <div class="soru-1">
        <h3>117-18</h3>
        <h3>26-4</h3>
        <h3>91-14</h3>
        <h3>65-?</h3>
        <p class="tikla">Doğru şıkkın üzerine tıklayınız.</p>
      </div>

      <div class="şıklar-4">
        <button class="şık-4" id="a">12</button>
        <button class="şık-4" id="b">10</button>
        <button class="şık-4" id="c">16</button>
        <button class="şık-4" id="d">20</button>
        <button class="şık-4" id="e">24</button>
        <button class="şık-4" id="f">18</button>
      </div>
    </div>
    <!-- 5.soru yazılı -->
    <div class="container container-5">
      <div class="soru-1">
        <h3>A-B-C-Ç-D-F-G-Ğ-H-I-J-M-N-O-Ö-P-S-Ş-U-Ü-V-Y-Z</h3>
        <p class="tikla">Doğru şıkkın üzerine tıklayınız.</p>
      </div>

      <div class="şıklar-5">
        <button class="şık-5" id="a">tekbir</button>
        <button class="şık-5" id="b">tedbir</button>
        <button class="şık-5" id="c">tevkif</button>
        <button class="şık-5" id="d">tebrik</button>
        <button class="şık-5" id="e">terlik</button>
        <button class="şık-5" id="f">terslik</button>
      </div>
    </div>
    <!-- 6.soru yazılı -->
    <div class="container container-6">
      <div class="soru-1">
        <p class="span6"><b>4713</b></p>
        <p class="span6"><b>7952</b></p>
        <p class="span6"><b>3512</b></p>
        <p class="span6"><b>342?</b></p>
        <p class="tikla">Doğru şıkkın üzerine tıklayınız.</p>
      </div>

      <div class="şıklar-6">
        <button class="şık-6" id="a">1</button>
        <button class="şık-6" id="b">2</button>
        <button class="şık-6" id="c">3</button>
        <button class="şık-6" id="d">4</button>
        <button class="şık-6" id="e">5</button>
        <button class="şık-6" id="f">6</button>
      </div>
    </div>
    <!-- 7.soru yazılı rus i'sini # ile değiştirdim. -->
    <div class="container container-7">
      <div class="soru-1">
        <h3>Kırklareli : XO$X*&#x25cf;$#*ö</h3>
        <h3>Kırıkkale: ?</h3>
        <p class="tikla">Doğru şıkkın üzerine tıklayınız.</p>
      </div>

      <div class="şıklar-7">
        <button class="şık-7" id="a">XO$X**&#x25cf;$#</button>
        <button class="şık-7" id="b">XO$O**$#</button>
        <button class="şık-7" id="c">XO$OXX&#x25cf;*ö</button>
        <button class="şık-7" id="d">XO$OXX&#x25cf;*#</button>
        <button class="şık-7" id="e">XO$OX&#x25cf;*ö</button>
        <button class="şık-7" id="f">XO$X**$ö</button>
      </div>
    </div>
    <!-- 8. soru şekil eklemeli-->
    <div class="container container-8">
      <div class="soru-8">
        <img class="soru-şekil" src="8.soru/soru.png" alt="soru" />
        <p class="tikla">Doğru şıkkın üzerine tıklayınız.</p>
      </div>
      <div class="şıklar-1">
        <img class="şık-8" src="8.soru/a.png" alt="a" />
        <img class="şık-8" src="8.soru/b.png" alt="b" />
        <img class="şık-8" src="8.soru/c.png" alt="c" />
        <img class="şık-8" src="8.soru/d.png" alt="d" />
        <img class="şık-8" src="8.soru/e.png" alt="e" />
        <img class="şık-8" src="8.soru/f.png" alt="f" />
      </div>
    </div>
    <!-- 9. soru şekil eklemeli şıklar yazılı-->
    <div class="container container-9">
      <div class="soru-9">
        <img class="soru-şekil" src="9.soru/soru.png" alt="soru" />
        <p class="tikla">Doğru şıkkın üzerine tıklayınız.</p>
      </div>
      <div class="şıklar-1">
        <button class="şık-9" id="a">127,5</button>
        <button class="şık-9" id="b">90</button>
        <button class="şık-9" id="c">82,5</button>
        <button class="şık-9" id="d">77,5</button>
        <button class="şık-9" id="e">70</button>
        <button class="şık-9" id="f">67,5</button>
      </div>
    </div>
    <!-- 10. soru şekil eklemeli şıklar yazılı-->
    <div class="container container-10">
      <div class="soru-1">
        <img class="soru-şekil-10" src="10.soru/soru.png" alt="soru" />
        <p class="tikla">Doğru şıkkın üzerine tıklayınız.</p>
      </div>

      <div class="şıklar-10">
        <button class="şık-10" id="a">Mealen</button>
        <button class="şık-10" id="b">Maaile</button>
        <button class="şık-10" id="c">Maliye</button>
        <button class="şık-10" id="d">Maymun</button>
        <button class="şık-10" id="e">Milyon</button>
        <button class="şık-10" id="f">Minyon</button>
      </div>
    </div>
    <!-- 11. soru şekil eklemeli şıklar yazılı-->
    <div class="container container-11">
      <div class="soru-1">
        <img class="soru-şekil-11" src="11.soru/soru.png" alt="soru" />
        <p class="tikla">Doğru şıkkın üzerine tıklayınız.</p>
      </div>

      <div class="şıklar-11">
        <button class="şık-11" id="a">4</button>
        <button class="şık-11" id="b">0</button>
        <button class="şık-11" id="c">1</button>
        <button class="şık-11" id="d">3</button>
        <button class="şık-11" id="e">2</button>
        <button class="şık-11" id="f">-1</button>
      </div>
    </div>
    <!-- 12.soru şekil eklemeli şıklar yazılı -->
    <div class="container container-12">
      <div class="soru-1">
        <img class="soru-şekil-12" src="12.soru/soru.png" alt="soru" />
        <p class="tikla">Doğru şıkkın üzerine tıklayınız.</p>
      </div>

      <div class="şıklar-12">
        <button class="şık-12" id="a">12</button>
        <button class="şık-12" id="b">16</button>
        <button class="şık-12" id="c">10</button>
        <button class="şık-12" id="d">18</button>
        <button class="şık-12" id="e">20</button>
        <button class="şık-12" id="f">22</button>
      </div>
    </div>
    <!-- 13.soru yazılı -->
    <div class="container container-13">
      <div class="soru-13">
        <b>
          Saat gece yarısı düzgün çalışıyordu sonrasında her saat 1 dakika geri
          kalmaya başladı. 90 dakika önce durduğunda saat 17.42’yi gösteriyordu.
          Saat bugün başladıysa , doğru saat kaçtır?
        </b>
      </div>
      <div class="şıklar-13">
        <button class="şık-13" id="a">18:30</button>
        <button class="şık-13" id="b">19:30</button>
        <button class="şık-13" id="c">20:30</button>
        <button class="şık-13" id="d">18:31</button>
        <button class="şık-13" id="e">19:29</button>
        <button class="şık-13" id="f">20:31</button>
      </div>
    </div>
    <!-- 14.soru yazılı -->
    <div class="container container-14">
      <h3 class="soru-1">
        Bulunduğumuz yerden Ankara 100, Denizli 400, Edirne 500 km uzaklıktaysa
        Bolu kaç km uzaklıktadır ?
      </h3>
      <div class="şıklar-14">
        <button class="şık-14" id="a">100</button>
        <button class="şık-14" id="b">200</button>
        <button class="şık-14" id="c">300</button>
        <button class="şık-14" id="d">400</button>
        <button class="şık-14" id="e">500</button>
        <button class="şık-14" id="f">600</button>
      </div>
    </div>
    <!-- 15.soru yazılı -->
    <div class="container container-15">
      <div class="soru-1">
        <h3>
          6 yüzlü 2 zar atıldığında toplam 5 veya 7 gelme ihtimali nedir ?
        </h3>
      </div>

      <div class="şıklar-15">
        <button class="şık-15" id="a">10/36</button>
        <button class="şık-15" id="b">11/36</button>
        <button class="şık-15" id="c">12/36</button>
        <button class="şık-15" id="d">5/36</button>
        <button class="şık-15" id="e">7/36</button>
        <button class="şık-15" id="f">9/36</button>
      </div>
    </div>
    <!-- 16.soru yazılı -->
    <div class="container container-16">
      <div class="soru-1">
        <h3>Bir akşam yemeğinde;</h3>
      </div>
      <div class="şıklar-16">
        <button class="şık-16" id="a">Meliha balıkta hamsiyi</button>
        <button class="şık-16" id="b">Süleyman ana yemekte antrikotu</button>
        <button class="şık-16" id="c">Duygu ana yemekte gulaşı</button>
        <button class="şık-16" id="d">Selen mezede enginarı</button>
        <button class="şık-16" id="e">Melike ara sıcakta kalamarı</button>
        <button class="şık-16" id="f">
          Hakkı aparatiflerden kızartmayı tercih ediyor
        </button>
      </div>
    </div>
    <!-- 17.soru şekil eklemeli şıklar yazılı -->
    <div class="container container-17">
      <div class="soru-17">
        <img class="soru-şekil-17" src="17.soru/soru.png" alt="soru" />
      </div>

      <div class="şıklar-17">
        <button class="şık-17" id="a">Li-se-li</button>
        <button class="şık-17" id="b">Ko-per-nik</button>
        <button class="şık-17" id="c">Bi-zim-le</button>
        <button class="şık-17" id="d">Re-ze-ne</button>
        <button class="şık-17" id="e">İ-çer-ken</button>
        <button class="şık-17" id="f">Gü-lü-yor</button>
      </div>
    </div>
    <!-- 18.soru tablolu -->
    <div class="container container-18">
      <div class="soru-1">
        <table class="table">
          <tr>
            <td>11</td>
            <td>16</td>
            <td>80</td>
          </tr>
          <tr>
            <td>14</td>
            <td>18</td>
            <td>72</td>
          </tr>
          <tr>
            <td>17</td>
            <td>20</td>
            <td>60</td>
          </tr>
          <tr>
            <td>20</td>
            <td>?</td>
            <td>?</td>
          </tr>
        </table>
      </div>

      <div class="şıklar-18">
        <button class="şık-18" id="a">25-125</button>
        <button class="şık-18" id="b">24-96</button>
        <button class="şık-18" id="c">22-44</button>
        <button class="şık-18" id="d">23-69</button>
        <button class="şık-18" id="e">24-72</button>
        <button class="şık-18" id="f">25-100</button>
      </div>
    </div>
    <!-- 19.soru şekil eklemeli -->
    <div class="container container-19">
      <div class="soru-19">
        <img class="soru-şekil" src="19.soru/soru.png" alt="soru" />
      </div>
      <div class="şıklar-19">
        <img class="şık-19" src="19.soru/a.png" alt="a" />
        <img class="şık-19" src="19.soru/b.png" alt="b" />
        <img class="şık-19" src="19.soru/c.png" alt="c" />
        <img class="şık-19" src="19.soru/d.png" alt="d" />
        <img class="şık-19" src="19.soru/e.png" alt="e" />
        <img class="şık-19" src="19.soru/f.png" alt="f" />
      </div>
    </div>
    <!-- 20.soru yazılı -->
    <div class="container container-20">
      <h3>
        Roma tibi subito motibus ibit amor. Signa te , signa , temere me tangis
        et angis. Sola medere , pede ede perede melos. In girum imus nocte et
        consumimur __________ ?
      </h3>
      <div class="şıklar-20">
        <button class="şık-20" id="a">aqua</button>
        <button class="şık-20" id="b">igni</button>
        <button class="şık-20" id="c">podex</button>
        <button class="şık-20" id="d">terra</button>
        <button class="şık-20" id="e">aura</button>
        <button class="şık-20" id="f">lignum</button>
      </div>
    </div>
    <div class="container-21">
      <h1>Test Bitti.</h1>
      <h4 class="sonuc"></h4>
    </div>
    <div class="timer-div">
      <h6>Kalan süre: <span class="timer"></span></h6>
    </div>
    <script defer src="script.js"></script>
  </body>
</html>
