{% load i18n %}
{% url "confirm-email" token=token as confirm_url %}
{% blocktrans trimmed with name=user.username %}
    <h4>sevgili {{ name }}</h4>
    <p>e-mail adresinizi doğrulamak için aşağıdaki linki izleyiniz</p>
    <a href="{{ protocol }}://{{ domain }}{{ confirm_url }}">adresi doğrula</a>
    <p>bağlantıyı göremiyor veya tıklayamıyorsanız aşağıdaki linki kullanabilirsiniz.</p>
    <p>{{ protocol }}://{{ domain }}{{ confirm_url }}</p>
    <p>bu işlemi siz yapmadıysanız hiçbir şey olmamış gibi davranmanız önerilir.</p>
    <p>güzel günler.</p>
{% endblocktrans %}