{% extends "dictionary/base.html" %}
{% load functions widget_tweaks i18n %}
{% block title %}iletişim{% endblock %}

{% block content %}
    <h1 class="h4"><strong>iletişim</strong></h1>
    <h2 class="h5 text-muted">dikkat edilecek hususlar</h2>
    <ol class="px-4">
        <li>{% blocktrans with faq_url="/faq/" %}Lütfen önce <a href="{{ faq_url }}">sıkça sorulan sorular</a> sayfasını ziyaret edin.{% endblocktrans %}</li>
        <li>lütfen istek veya şikayetinizi anlaşılır bir şekilde dile getirin.</li>
        <li>yazarları ilgilendiren şikayetlerinizde yazarların şikayetinizden haberi olmayacaktır</li>
        <li>onaylama ve geriş dönüş için geçerli bir e-posta adresi belirtin. eğer halihazırda üye iseniz kayıt olurken kullandığınız e-posta adresiniz kullanılacak.</li>
        <li>her bir girdi, başlık veya kullanıcı için ayrı şikayet oluşturmak yerine toplu halde bir şikayet oluşturmanız, insanlık için olumlu olacaktır.</li>
    </ol>

    <form method="post" class="reporting-form">
        {% if not user.is_authenticated %}
            <div class="form-group">
                <label for="reporter_email">{{ form.reporter_email.label|lower }}</label>
                {% render_field form.reporter_email class="form-control" id="reporter_email" %}
            </div>
        {% else %}
            <input type="hidden" name="reporter_email" value="{{ user.email }}">
        {% endif %}

        <div class="form-group">
            <label for="report_category">{{ form.category.label|lower }}</label>
            {% render_field form.category class="form-control" id="report_category" %}
        </div>
        <div class="form-group">
            <label for="reporter_subject">{{ form.subject.label|lower }}</label>
            {% render_field form.subject|attr:"autofocus" class="form-control" id="reporter_subject" %}
        </div>
        <div class="form-group">
            <label for="reporter_content">{{ form.content.label|lower }}</label>
            {% render_field form.content rows="5" class="form-control" id="reporter_content" %}
        </div>

        {% csrf_token %}
        <button class="btn btn-django stretch mb-3">yolla</button>
    </form>
{% endblock %}