{% extends "admin/base_site.html" %}
{% load i18n %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Anasayfa</a>
        &rsaquo;
        <a href="{% url 'admin:app_list' 'dictionary' %}">Sözlük</a>
        &rsaquo;
        <a href="{% url 'admin:dictionary_author_changelist' %}">Yazarlar</a>
        {% block crumbs %}
            {% if title %} &rsaquo; {{ title }}{% endif %}
        {% endblock %}
    </div>
{% endblock %}

{% block content %}
    <p style="background: #79aec8; padding: 1em; color: #fff; margin: 0;">Askıya almak için seçilen yazarlar:</p>
    {% load humanize %}
    <div style="border: 1px solid #79aec8; padding: 1em; border-top: none; margin-bottom: 1rem">
        {% for source in sources %}
            <p>
                <strong>
                    <a target="_blank" href="{{ source.get_absolute_url }}">{{ source.username }}</a>
                </strong>
                {% if source.last_entry_date %}
                    <small>("Son girdi tarihi:"{{ source.last_entry_date|naturaltime }})</small>
                {% endif %}
            </p>
        {% endfor %}
    </div>

    <form method="post">
        <label for="quantity">"Askıya alınma süresi:"</label>
        <div style="margin-top: .5rem">
            <input type="number" id="quantity" name="quantity" min="1" max="100" value="7" style="height: 18px">
            <select name="multiplier">
                <option value="1">Saat</option>
                <option value="24" selected>Gün</option>
                <option value="168">Hafta</option>
                <option value="730">Ay</option>
                <option value="8760">Yıl</option>
            </select>
        </div>

        <div style="margin-top: 1rem;">
            <label for="information">Kullanıcılara gidecek metin</label>
            <textarea name="information" rows="10" cols="100" id="information"
                      style="display: block; box-sizing: border-box; margin: .4rem 0"
                      placeholder="girdi düzenleme seçenekleri mevcut"
                      required></textarea>
            {% csrf_token %}
            <input type="submit" value="Askıya al" class="default" style="float: none">
        </div>
    </form>
{% endblock %}