{% extends "admin/base_site.html" %}
{% load i18n %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Anasayfa</a>
        &rsaquo;
        <a href="{% url 'admin:app_list' 'dictionary' %}">Sözlük</a>
        &rsaquo;
        <a href="{% url 'admin:dictionary_topic_changelist' %}">Başlıklar</a>
        {% block crumbs %}
            {% if title %} &rsaquo; {{ title }}{% endif %}
        {% endblock %}
    </div>
{% endblock %}

{% block content %}
    <p style="background: #79aec8; padding: 1em; color: #fff; margin: 0;">Taşımak için seçilen başlıklar: </p>

    <div style="border: 1px solid #79aec8; padding: 1em; border-top: none;">
        {% for source in sources %}
            <p>
                <strong>
                    <a target="_blank" href="{{ source.get_absolute_url }}">{{ source.title }}</a>
                </strong>
                <small>girdi sayısı: {{ source.entry_count }})</small>
            </p>
        {% endfor %}
    </div>

    <hr style="margin: 1rem 0;">

    <form method="post" onsubmit="document.querySelector('#submit-btn').disabled=true;">
        <div class="form-row field-title">
            <label for="target_topic">Hedef başlık:</label>
            <input style="width: 100%;" placeholder="Hedef başlığı tam olarak girin" type="text" name="target_topic" id="target_topic" required>
        </div>

        <div style="padding: 1rem 0;">
            <p>Girdiler için tarih aralığı verin(opsiyonel)</p>
            <div class="form-row field-title">
                <label for="from_date">Şu tarihten:</label>
                {# Translators: Day should come first. It should be a parsable date. #}
                <input placeholder="gün.ay.yıl saat:dakika" type="text" name="from_date" id="from_date">
            </div>
            <br>
            <div class="form-row field-title">
                <label for="to_date">Şu tarihe:</label>
                <input placeholder="gün.ay.yıl saat:dakika" type="text" name="to_date" id="to_date">
            </div>
        </div>

        <div class="checkbox-row" style="margin: 1rem 0;">
            <input type="checkbox" name="reference" id="reference" value="yes">
            <label class="vCheckboxLabel" for="reference">Taşıdıktan sonra yeni başlığa referans ver</label>
        </div>

        <div style="float: left;">
            {% csrf_token %}
            <input type="submit" id="submit-btn" value="Başlığı taşı" class="default">
        </div>
    </form>

{% endblock %}